<div class="item<%= ' active' if flow_image_counter == 0 %>">
  <%= image_tag flow_image.content.url, class: "img-responsive center-block" %>
  <div class="carousel-caption">
    <h3><%= flow_image.gadget.name %></h3> 
    <p><%= flow_image.title %></p>
  </div>
</div>